@import "./variables.scss";

// SCROLLBAR
::-webkit-scrollbar {
    width: 7px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
    z-index:-10;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(20,119,202, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $text-color;    
}


// CSS
// Général


body {
    margin:0;
    padding:0;
    font-family:$primary-typo;
    height:auto;
    overflow-x: hidden;
    background: url('assets/img/background.png');
}

p, h1, button, article {
    margin:0;
    padding:0;
}

section {
    width:100%;
    margin:auto;
}

video {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    opacity:0.8;
}

h1, h2 {
    color:rgba(0,0,0,0.8);
    width:100%;
}

h1 {
    font-size:1em;
    padding:0 0 40px 40px;
    letter-spacing:0.5px;
    font-weight:500;
    line-height:2.5;
    position:relative;
    font-variant:small-caps;
    @include Sstyle {
        line-height: 3;
        padding:0;
        font-weight:600;
        font-size:1.3em;
    }
    @include Lstyle() {
        font-size: 1.4em;
    }
    @include XLstyle() {
        font-size: 1.5em;
    }
}

h2 {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: $background-color;    
}

h3, h4, button {
    font-family: $tertiary-typo;
}

h3 {
    color:#393939;
    letter-spacing:2px;
    font-weight:700;
    line-height:1.3;
    margin-right:3px;
    margin-top:8vh;
    margin-bottom:6vh;    
    @include Lstyle() {
        line-height:1.7;
    }

    & span {
        position:relative;
        color:white;
        text-shadow:none;
    }


    &.decale {
        @include Lstyle() {
            position:relative;
            text-align:left;
            margin-left:40px;
            top:-60px;
            margin-top: unset;
        }
    
        & span {
            left:5px;
            @include Lstyle() {
                left:70px;
            }
        }
    }
}


// Classes
.mobileOnly {
    @include Mstyle() {
        display:none;
    }
    @include XLstyle() {
        display:none;
    }
}
.desktopOnly {
    display:none;
    @include Lstyle() {
        display: initial;
    }
}

.callToAction {
    background-color: $text-color;
    border:none;
    border-radius: 8px;
    color:white;
    letter-spacing:2px;
    font-size:0.8rem;
    font-weight:600;
    position:relative;
    // overflow:hidden;


    &.knowMoreButton {
        &:hover {
            opacity:0.8
        }
    
        &::after {
            content:"EN SAVOIR PLUS";
            background: lighten($color: $text-color, $amount: 80%);
            cursor:pointer;
            border-radius: 8px;
            border:$text-color solid 1px;
            box-shadow: rgba(0,0,0,.4) 0px 5px 6px;
            color:black;
            font-weight:600;
            letter-spacing:2px;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            opacity:var(--opacity);
            transform: translateY(var(--translate))   rotateX(var(--rotate));;
        }
    }

    &.contactUs {
        &:hover {
            opacity:0.8
        }
    
        &::after {
            content:"NOUS CONTACTER";
            background: lighten($color: $text-color, $amount: 80%);
            cursor:pointer;
            border-radius: 8px;
            color:black;
            font-weight:600;
            border:$text-color solid 1px;
            box-shadow: rgba(0,0,0,.4) 0px 5px 6px;
            letter-spacing:2px;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            opacity:var(--opacity);
            transform: translateY(var(--translate))   rotateX(var(--rotate));;
        }
    }

    &.submit {
        &:hover {
            opacity:0.8
        }
    
        &::after {
            content:"ENVOYER";
            background: lighten($color: $text-color, $amount: 80%);
            cursor:pointer;
            border-radius: 8px;
            color:black;
            border:$text-color solid 1px;
            box-shadow: rgba(0,0,0,.4) 0px 5px 6px;
            font-weight:600;
            letter-spacing:2px;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            opacity:var(--opacity);
            transform: translateY(var(--translate))   rotateX(var(--rotate));;
        }
    }
}

.carrouselIcons {
    margin-bottom:50px;

    & svg {
        padding: 2px 5px;
        margin:0 7px;
    }

    & .circle {
        fill:#707070;
        stroke:#707070;
        stroke-width:1;
        cursor:pointer;
        height:14px;
        width:14px;
        @include Lstyle() {
            height:17px;
            width:17px;
        }
    }

    & .circle.active {
        fill:white;
        stroke:#707070;
        stroke-width:0;
    }

    & .prev, .next {
        position:relative;
        top:-2px;
        cursor: pointer;
    }
}

.wrapper {
    position: relative;
    display: grid;
    align-items: center;
    overflow: hidden;

    & .serviceArticle__paragraph {
        grid-area: 1 / 1;
    }
}

.h4Wrapper {
    display: grid;

    & .serviceArticle__h4 {
        grid-area: 1 / 1;
    }
}


// Header
header {
    display:flex;
    margin:20px 40px 10vh 40px;
    justify-content:space-between;
    font-weight:900;

    @include Lstyle() {
        // width:66vw;
        justify-content: unset;
        margin:20px 40px 25vh 40px;
        position:relative;
        z-index:100;
    }

    & button {
        background-color: transparent;
        border:none;
        position:relative;
        z-index:4;
    }    
    & nav
    {
        @include Mstyle() {
            width:600px;
            text-align:center;
            z-index:10;
        }
        @include Lstyle() {
            margin:auto;
        }
    } 
    
        & ul {
            display:none;
            @include Mstyle() {
                display: flex;
                list-style-type: none;
                justify-content: space-between;
                font-size:0.9em;
                letter-spacing:0.5px;
                text-transform: uppercase;
                z-index:1;
                padding-left:0;
            }
            @include Mstyle() {
                font-size:1.2em;
            }
        & li, a {
            text-decoration: none;
            color:white;
            position:relative;
            // padding:0 5px;
            z-index:1;            
        
            &:hover {
                &::after {
                    opacity:0.7;
                    transform:scale(1);
                }
            }
        
            &::after {
                content:"";
                height:3px;
                width:inherit;
                background-color:$underline-color;
                opacity:0;
                position: absolute;
                right: 0;
                bottom: 50%;  
                left: 0;
                box-shadow: 0px 1px 5px black;
                z-index:-1;
                transform:scale(0);
                transform-origin: left center;
                transition: opacity 350ms, transform 400ms;
            }
        }
    }
    img {
        max-width:50px;
        z-index:4;
        position: absolute;
    }
    

}

// Section hero
#animateHero {
    visibility: hidden;
    overflow:hidden;
}
#heroSection {
    color:white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    border:red solid 1px;
    height:100vh;
    position:absolute;
    top:0;
    text-align:left;
    @include Sstyle() {
        text-align: center;
        // height:100vh;
    }
    @include Lstyle {
        height:unset;
        justify-content: unset;
        position: unset;
    }
    &__videoCover {
        z-index:5;
        background-color: black;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;

    }
    &__video{
        width:100%;
        height:100vh;
        object-fit:cover;
        // @include desktopstyle() {
        //     height:85vh;
        // }
    }
    & p strong {     
        font-family:$secondary-typo;
        font-size:2.2em;
        letter-spacing:5px;
        padding:0 20px 0 40px;
        position:relative;
        margin:auto;
        text-shadow: 5px 2px rgba(0,0,0, 0.6);
        @include Sstyle() {
            font-size:4em;
            padding:0;
            letter-spacing:10px;
            text-shadow: 6px 3px rgba(0,0,0, 0.6);
        }
        @include Lstyle() {
            text-shadow: 10px 5px rgba(0,0,0, 0.6);
            letter-spacing: 20px;
            font-size:5.5em;
        }
        @include XLstyle() {
            font-size:8em;
            letter-spacing:30px;
        }

        &::after {
            content:"";
            width:1px;
            height:30px;
            background-color:white;
            border:1px solid white;
            animation:typewriter 700ms infinite;
        }
    }
    &__mouseSvg svg {
        animation:mouse 900ms infinite;
        animation-direction:alternate;
        position: absolute;
        top:83vh;
        left:50%;
    }
    &__mouseSvg::after {
        content:"";
        height:55px;
        position:absolute;
        border: white 0.5px solid;
        background-color:white;
        top:93vh;
        left:50%;
        margin-left:12px;
        animation:mouseLine 1200ms infinite;
        transform-origin:top;
    }
    &__mobileLine {
        margin-top:5px;
        @include Sstyle {
            display:none;
        }

        &Container {
            display:flex;
            justify-content: space-between;
            align-items:center;
            padding-top:20px;
            @include Sstyle() {
                display: block;
                padding:0;
            }
        }
    }
}
.backgroundSvg {
    position:absolute;
    opacity:0.95;
}
#leaves {
    top:160px;
    z-index:4;
    width:500px;
    right:-170px;
}
.leafdim2 {
    left:-250px;
    width:450px;
    top:0px;
}
.leaf2 {
    width:450px;
    top:90px;
    left:-160px;
    z-index:-1;
}


// Section Contact
#contactSection {
    // background-color: lighten($text-color, 65%);
    // margin-top:0;

    & .h2Container {
        margin-bottom:0vh;
        margin-top:25vh;
        height:15vh;

        & + p {
            width:88%;
            margin:0 auto;
            line-height:2.5;
            @include Sstyle() {
                width:70%;
                line-height:3;
            }
        }


    }

    & .contactUs {
        margin-top:0;
        @include Lstyle() {
            margin-top:30px;
        }
    }
}

#contacth4 {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: $background-color;    
    z-index:-5;
    font-family: $primary-typo;
    // text-shadow: 5px 2px 3px rgba(0,0,0,0.3);
    font-size : 2rem;
    text-shadow: none;
    @include Lstyle() {
        font-size:4rem;
        // text-shadow: 10px 5px 4px rgba(0,0,0,0.3);
        text-shadow: none;
    }
}

// FOOTER

footer {
    background: radial-gradient(circle, rgba(70,70,70, 0.3) 0%, rgba(70,70,70,0.3) 37%, rgba(70,70,70,0.3) 100%), url("assets/img/footerbackground.png") 50% 50%;
    margin-top:10vh;
    margin-bottom:0;
    text-align: center;
    color:white;
    padding-bottom:5px;
    // border:red solid 1px;

    & p {
        font-weight: 800;
    }

    & a {

        background-color: white;
        border-radius: 50%;
        height:40px;
        width:40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 300ms;

        &:hover {
            opacity: 0.8;
        }
    }

    ul {
        list-style-type: none;
        color:white;
        margin:20px 0 0 0;
        padding:0;
        @include Lstyle() {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        & li {
            margin:5px 0px;
            @include Lstyle() {
                padding:0;
                margin:0;
            }
        }
    }

}

#socialMediaList {
    display: flex;
    justify-content: space-between;
    margin:auto;
    width:50%;
    padding-top:20px;
    padding-bottom:20px;
    @include Lstyle() {
        width:10%;
    }
}


// Menu hamburger
.dropdownMenu
{
    width:100%;
    height:100vh;
    margin:0 auto;
    position:absolute;
    top:0;
    right:0px;
    color:black;
    // background-color: rgba(0,0,0,0.9);
    background-color: rgba(20,119,202,0.95);
    z-index:3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size:1.7rem;
    border:blue solid 1Px;
    transform: translateY(-100%);
    display:flex;
    display: none;
    @include Sstyle() {
        display: none;
    }

    li
    {
        padding:10px 0;
    }
}

#navCircle circle {
    opacity:0;
}

button line {
    z-index:32;
}

