@-webkit-keyframes mouseLine {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  30% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.9;
  }
}

@keyframes mouseLine {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  30% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.9;
  }
}

@-webkit-keyframes mouse {
  0% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

@keyframes mouse {
  0% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

@-webkit-keyframes typewriter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typewriter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes movingBackground {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@keyframes movingBackground {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

article p {
  width: 90%;
  margin: 7% auto 0 auto;
  line-height: 3;
  font-size: 0.9rem;
}

@media all and (min-width: 443px) {
  article p {
    width: 90%;
    font-size: 1rem;
    margin: 0px auto 0 40px;
    line-height: 2.5;
    letter-spacing: 0.7px;
  }
}

article h4 {
  width: 95%;
  margin: 0 auto 0 auto;
}

@media all and (min-width: 443px) {
  article h4 {
    margin: 0 auto;
    position: relative;
  }
}

h2 {
  z-index: -5;
  font-family: "Raleway";
  font-size: 2rem;
  text-shadow: none;
}

@media all and (min-width: 1024px) {
  h2 {
    font-size: 3em;
    text-shadow: none;
  }
}

h3 {
  font-size: 2rem;
}

@media all and (min-width: 1024px) {
  h3 {
    font-size: 1.4rem;
    margin: 40px auto 20px auto;
  }
}

h4 {
  font-size: 1.3rem;
}

@media all and (min-width: 1024px) {
  h4 {
    margin: 0 auto;
    text-align: center;
  }
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
}

.h2Container {
  height: 20vh;
  margin-left: 0;
  position: -webkit-sticky;
  position: sticky;
  padding-left: 40px;
  margin: 20vh auto 0vh auto;
}

.h2Container__first {
  margin-top: 65vh;
}

.h2Container::before {
  content: url("assets/img/essaigreyline.png");
  position: absolute;
  height: 5px;
  left: -40%;
  width: 10%;
}

.h2Container__last::before {
  left: 50%;
}

.h3Container {
  width: 50%;
  text-align: center;
  background: black;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.77) 0%, rgba(0, 0, 0, 0.8) 31%, rgba(0, 0, 0, 0.85) 76%, black 100%);
  z-index: -1;
  margin: auto;
  padding-bottom: 15px;
  border: white outset 3px;
  -webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.7), 5px 0px 15px rgba(0, 0, 0, 0.7);
          box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.7), 5px 0px 15px rgba(0, 0, 0, 0.7);
  color: white;
  width: 30vw;
}

article {
  position: relative;
  margin-top: 300px;
}

article h3 {
  font-family: "Sitka Heading", Arial;
  text-shadow: none;
  color: white;
}

article h3 + p {
  width: 85%;
  margin: auto;
}

article img {
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
  position: absolute;
  top: -30px;
  right: 10px;
  z-index: -2;
}

.wrap {
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(100rem);
          transform: perspective(100rem);
}

.wrap .faces {
  width: inherit;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.wrap .face {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.wrap .face .face > * {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.wrap .back {
  border: yellow solid 1Px;
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.72)), to(rgba(0, 0, 0, 0.82)));
  background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.82));
  border-radius: 1.6rem;
}

.wrap .back .number {
  font-size: 4rem;
  line-height: initial;
  margin: 0 auto;
  font-weight: 800;
  font-family: "Sitka Heading", Arial;
}

.wrap .front {
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
}

.wrap .carrouselIcons {
  margin: 20px auto 20px auto;
  z-index: 20;
}

.wrap p {
  font-size: 0.95rem;
}

.wrap h4, .wrap p {
  margin: 0 auto;
  color: white;
  text-align: center;
}

.container {
  --rX: 0;
  --rY: 0;
  --bX: 50%;
  --bY: 80%;
  width: 27vw;
  height: 60vh;
  border: 1px solid var(--background-color);
  border-radius: 1.6rem;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  -webkit-transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
          transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
  background-position: var(--bX) var(--bY);
  background-size: 40rem auto;
  -webkit-box-shadow: 0 0 3rem 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3rem 0.5rem rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform .6s 1s;
  transition: -webkit-transform .6s 1s;
  transition: transform .6s 1s;
  transition: transform .6s 1s, -webkit-transform .6s 1s;
}

.container.visualIdentity {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.72)), to(rgba(0, 0, 0, 0.82))), url("/assets/img/CAHIER.png");
  background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.82)), url("/assets/img/CAHIER.png");
  background-position: var(--bX) var(--bY);
  background-size: 40rem auto;
}

.container.webDevelopment {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.72)), to(rgba(0, 0, 0, 0.82))), url("/assets/img/macbook3.png");
  background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.82)), url("/assets/img/macbook3.png");
  background-repeat: no-repeat;
  background-position: var(--bX) var(--bY);
  background-size: 35rem auto;
}

.container::before,
.container::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  position: absolute;
  z-index: -2;
  opacity: .3;
  -webkit-transition: .3s;
  transition: .3s;
}

.container::before {
  top: 2rem;
  right: 2rem;
  border-bottom-width: 0;
  border-left-width: 0;
}

.container::after {
  bottom: 2rem;
  left: 2rem;
  border-top-width: 0;
  border-right-width: 0;
}

.container--active {
  -webkit-transition: none;
  transition: none;
}

.wrap:hover .container::before,
.wrap:hover .container::after {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}

.wrapper {
  width: inherit;
}

.wrapper .serviceArticle__paragraph {
  width: inherit;
}

.h4Wrapper {
  width: inherit;
}

@media all and (min-width: 1024px) {
  .h4Wrapper {
    width: inherit;
  }
}

#contactSection {
  text-align: center;
}

#contactSection .h2Container {
  margin-bottom: 0vh;
  margin-top: 25vh;
  height: 15vh;
  text-align: center;
}

#contactSection .h2Container + p {
  width: 88%;
  margin: 0 auto;
  line-height: 2.5;
}

@media all and (min-width: 443px) {
  #contactSection .h2Container + p {
    width: 70%;
    line-height: 2;
  }
}

#contactSection .contactUs {
  margin-top: 0;
}

@media all and (min-width: 1024px) {
  #contactSection .contactUs {
    margin-top: 30px;
  }
}

#contacth4 {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #FDF9F9;
  z-index: -5;
  font-family: "Sitka Heading", Arial;
  font-size: 2rem;
  text-shadow: none;
}

@media all and (min-width: 1024px) {
  #contacth4 {
    font-size: 4em;
    text-shadow: none;
  }
}
/*# sourceMappingURL=servicesStyles.css.map */