@-webkit-keyframes mouseLine {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  30% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.9;
  }
}

@keyframes mouseLine {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  30% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.9;
  }
}

@-webkit-keyframes mouse {
  0% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

@keyframes mouse {
  0% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

@-webkit-keyframes typewriter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typewriter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes movingBackground {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@keyframes movingBackground {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Sitka Heading", Arial;
  height: auto;
  overflow-x: hidden;
  background-color: #FDF9F9;
  counter-reset: section;
}

p, h1, button, article {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  margin: auto;
  z-index: -5;
}

article p {
  width: 90%;
  margin: 7% auto 0 auto;
  line-height: 3;
  font-size: 0.9rem;
}

@media all and (min-width: 443px) {
  article p {
    width: 90%;
    font-size: 1rem;
    margin: 40px auto 0 40px;
    line-height: 3;
  }
}

article h4 {
  width: 90%;
  margin: 0 auto 0 auto;
  line-height: 3;
}

@media all and (min-width: 443px) {
  article h4 {
    width: 50%;
    margin: 0 auto;
    line-height: 3;
    position: relative;
  }
}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h1, h2 {
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  text-align: center;
}

h3, h4, button {
  font-family: "Segoe UI", Arial;
}

h1 {
  font-size: 1em;
  padding: 0 0 40px 40px;
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 2.5;
  position: relative;
  font-variant: small-caps;
}

@media all and (min-width: 443px) {
  h1 {
    padding: 0 20px;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 3;
  }
}

@media all and (min-width: 1024px) {
  h1 {
    font-size: 1.5em;
    font-weight: 600;
  }
}

h2 {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #FDF9F9;
  z-index: -5;
  text-shadow: 5px 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 3rem;
}

@media all and (min-width: 1024px) {
  h2 {
    font-size: 9em;
    text-shadow: 10px 5px 4px rgba(0, 0, 0, 0.3);
  }
}

h3 {
  color: #393939;
  text-shadow: 5px 2px #E2DEDE;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.3;
  font-weight: 700;
  font-size: 2rem;
}

@media all and (min-width: 1024px) {
  h3 {
    font-size: 2.5rem;
    margin-left: 40px;
  }
}

h4 {
  font-size: 1.3rem;
}

@media all and (min-width: 1024px) {
  h4 {
    margin: auto;
    text-align: center;
  }
}

@media all and (min-width: 443px) {
  .mobileOnly {
    display: none;
  }
}

.desktopOnly {
  display: none;
}

@media all and (min-width: 1024px) {
  .desktopOnly {
    display: initial;
  }
}

.knowMoreButton {
  background-color: #464646;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 4vh;
  margin-bottom: 6vh;
}

@media all and (min-width: 1024px) {
  .knowMoreButton {
    margin-top: 30px;
    margin-bottom: 35px;
  }
}

.carrouselIcons {
  margin-bottom: 50px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 40px 10vh 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 900;
}

@media all and (min-width: 1024px) {
  header {
    width: 66vw;
    margin: 20px 40px 25vh 40px;
  }
}

header button {
  background-color: transparent;
  border: none;
}

@media all and (min-width: 443px) {
  header nav {
    width: 600px;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
  }
}

header ul {
  display: none;
}

@media all and (min-width: 443px) {
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    z-index: 1;
  }
}

@media all and (min-width: 1024px) {
  header ul {
    font-size: 1.2em;
  }
}

header ul li, header ul a {
  text-decoration: none;
  color: white;
  position: relative;
  padding: 0 5px;
  z-index: 1;
}

header ul li:hover::after, header ul a:hover::after {
  opacity: 0.7;
  -webkit-transform: scale(1);
          transform: scale(1);
}

header ul li::after, header ul a::after {
  content: "";
  height: 3px;
  width: inherit;
  background-color: #FFB3B3;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 50%;
  left: 0;
  -webkit-box-shadow: 0px 1px 5px black;
          box-shadow: 0px 1px 5px black;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: opacity 350ms, -webkit-transform 400ms;
  transition: opacity 350ms, -webkit-transform 400ms;
  transition: opacity 350ms, transform 400ms;
  transition: opacity 350ms, transform 400ms, -webkit-transform 400ms;
}

header img {
  max-width: 50px;
}

header svg {
  margin-top: 10px;
}

#animateHero {
  visibility: hidden;
  overflow: hidden;
}

#heroSection {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

@media all and (min-width: 443px) {
  #heroSection {
    text-align: center;
  }
}

#heroSection__videoCover {
  z-index: 5;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#heroSection__video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#heroSection p strong {
  font-family: "Raleway";
  font-size: 2.2em;
  letter-spacing: 5px;
  padding: 0 20px 0 40px;
  position: relative;
  margin: auto;
  text-shadow: 5px 2px rgba(0, 0, 0, 0.6);
}

@media all and (min-width: 443px) {
  #heroSection p strong {
    font-size: 4em;
    padding: 0;
    letter-spacing: 10px;
    text-shadow: 6px 3px rgba(0, 0, 0, 0.6);
  }
}

@media all and (min-width: 1024px) {
  #heroSection p strong {
    text-shadow: 10px 5px rgba(0, 0, 0, 0.6);
    font-size: 8em;
    letter-spacing: 30px;
  }
}

#heroSection__mouseSvg svg {
  -webkit-animation: mouse 900ms infinite;
          animation: mouse 900ms infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  position: absolute;
  top: 83vh;
  left: 50%;
}

#heroSection__mouseSvg::after {
  content: "";
  height: 55px;
  position: absolute;
  border: white 0.5px solid;
  background-color: white;
  top: 93vh;
  left: 50%;
  margin-left: 12px;
  -webkit-animation: mouseLine 1200ms infinite;
          animation: mouseLine 1200ms infinite;
  -webkit-transform-origin: top;
          transform-origin: top;
}

#heroSection__mobileLine {
  margin-top: 5px;
}

#heroSection__mobileLineContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

@media all and (min-width: 443px) {
  #heroSection__mobileLineContainer {
    display: block;
    padding: 0;
  }
}

.backgroundSvg {
  position: absolute;
  opacity: 0.95;
}

#leaves {
  top: 160px;
  z-index: 4;
  width: 500px;
  right: -170px;
}

.leafdim2 {
  left: -250px;
  width: 450px;
  top: 0px;
}

.leaf2 {
  width: 450px;
  top: 90px;
  left: -160px;
  z-index: -1;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
}

@media all and (min-width: 1024px) {
  #servicesChoice {
    margin-top: 55vh;
  }
}

.flexServices {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 6vh auto auto auto;
  width: 70vw;
}

@media all and (min-width: 1024px) {
  .flexServices {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: unset;
        align-content: unset;
    width: 75vw;
    height: 26vh;
    margin: 8vh auto auto auto;
  }
}

.roundService {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
}

@media all and (min-width: 1024px) {
  .roundService {
    margin: unset;
  }
}

@media all and (min-width: 1024px) {
  .roundService:nth-child(2), .roundService:nth-child(4) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media all and (min-width: 1024px) {
  .roundService:nth-child(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.roundService:nth-child(5) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.roundService p {
  font-family: "Sitka Heading", Arial;
  margin-top: 15px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 0.8rem;
}

@media all and (min-width: 1024px) {
  .roundService p {
    opacity: 0;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 15px;
    max-width: 8vw;
  }
}

.roundService:hover {
  cursor: pointer;
}

.roundService__circle {
  width: 17vw;
  height: 17vw;
  border-radius: 50%;
  border: dashed 2px rgba(0, 0, 0, 0.3);
  background-color: rgba(253, 249, 249, 0.3);
  position: relative;
  margin: 0 10px;
}

@media all and (min-width: 1024px) {
  .roundService__circle {
    width: 8vw;
    height: 8vw;
    margin: unset;
  }
}

.roundService img {
  max-width: 80%;
  max-height: 60%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  color: black;
  -webkit-filter: grayscale(100%);
  /* Pour les navigateurs Chrome, Safari, Opera */
  filter: grayscale(100%);
  /* Firefox */
}

@media all and (min-width: 1024px) {
  .roundService img {
    max-width: 80%;
    max-height: 60%;
  }
}

.h2Container {
  height: 25vh;
  margin: 35vh auto 35vh auto;
  position: -webkit-sticky;
  position: sticky;
}

article img {
  max-width: 40%;
}

.number {
  font-weight: bold;
  font-size: 7rem;
  font-family: "Sitka Heading", Arial;
  margin: auto;
  text-align: center;
  line-height: 1;
}
/*# sourceMappingURL=servicesStyles.css.map */