@import "./variables.scss";

// CSS
//Général
article {    
    & p {
        width:90%;
        margin:7% auto 0 auto;
        line-height:3;
        font-size:0.9rem;
        @include tabletstyle() {
            width:90%;
            font-size:1rem;
            margin: 0px auto 0 40px;
            line-height:2.5;
            letter-spacing: 0.7px;
        }
    }
    & h4 {
        width:95%;
        margin:0 auto 0 auto;
        // line-height:3;
        @include tabletstyle() {
            // width:50%;
            margin: 0 auto;
            // line-height:3;
            position:relative;
    }
}
}


h2 {

    z-index:-5;
    font-family: $secondary-typo;
    // text-shadow: 5px 2px 3px rgba(0,0,0,0.3);
    font-size : 2rem;
    text-shadow: none;
    @include desktopstyle() {
        font-size:3em;
        // text-shadow: 10px 5px 4px rgba(0,0,0,0.3);
        text-shadow: none;
    }
}

h3 {
    font-size:2rem;
    @include desktopstyle() {
        font-size: 1.4rem;
        margin: 40px auto 20px auto;
    }
}
h4 {
    font-size: 1.3rem;
    // margin: 0 20px 0 20px;
    @include desktopstyle() {
        // margin: auto 20px;
       margin:0 auto;
        text-align:center;
    }
}




.column {
    flex-direction: column;
    width:70%;
    text-align:center;
}
// Choix prestation
.flex {
    display:flex;
    margin-top:0;
}

// Prestation
.h2Container { 
    height:20vh;
    margin-left:0;
    position:sticky;
    padding-left:40px;
    margin:20vh auto 0vh auto;

    &__first {
        margin-top:65vh;
    }

    &::before {
        content:url("assets/img/essaigreyline.png");
        position:absolute;
        height:5px;
        left:-40%;
        width:10%;
        // height:5px;
        // width:inherit;
        // left:30%;
        // top:-20px;
    }

    &__last::before {
        left:50%;
    }
}

.h3Container {
    width:50%;
    text-align: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.77) 0%, rgba(0,0,0,0.80) 31%, rgba(0,0,0,0.85) 76%, rgba(0,0,0,1) 100%);  
    z-index:-1;
    margin:auto;
    padding-bottom: 15px;
    border:white outset 3px;
    box-shadow: -5px 10px 15px rgba(0,0,0,0.7), 5px 0px 15px rgba(0,0,0,0.7);
    color:white;
    width:30vw;
}

article {
    position:relative;
    margin-top:300px;
    // text-align: center;

    & h3 {
        font-family : $primary-typo;
        text-shadow: none;
        color:white;
        
    }

    & h3 + p {
        width:85%;
        margin:auto;
    }
}


article img {
    filter : opacity(50%);
    position:absolute;
    top:-30px;
    right:10px;
    z-index:-2;
}

.wrap {
    margin: auto;
    transform-style: preserve-3d;
    transform: perspective(100rem); 
    // cursor: pointer;

    & .faces {
        width:inherit;
        position: relative;
        transform-style:preserve-3d;
    }

    & .face {
        backface-visibility: hidden;

        & .face > * {
            backface-visibility: hidden;
        }
    }

    & .back {
        border:yellow solid 1Px;
        position: absolute;
        top:0;
        transform: rotateY(-180deg) ;
        background: linear-gradient(hsla(0, 0%, 0%, 0.72), hsla(0, 0%, 0%, 0.82));
        border-radius: 1.6rem;

        &   .number {
            font-size:4rem;
            line-height:initial;
            margin:0 auto;
            font-weight:800;
            font-family: $primary-typo;
        }
    }

    & .front {
        transform:translateZ(1px);
    }

    .carrouselIcons {
        margin:20px auto 20px auto;
        z-index:20;
          
    }


    & p {
        font-size:0.95rem;
    }
    
    & h4, p {
        margin:0 auto;
        color:white;
        // line-height:2.8;
        text-align: center;
    }
  }
  
  .container {
    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;
  
    width: 27vw;
    // height: 65vh;
height:60vh;
    border: 1px solid var(--background-color);
    border-radius: 1.6rem;
    padding : 10px 15px;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  
    position: relative;
    transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));

    background-position: var(--bX) var(--bY);
    background-size: 40rem auto;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  
    transition: transform .6s 1s;

    &.visualIdentity {
        background: linear-gradient(hsla(0, 0%, 0%, 0.72), hsla(0, 0%, 0%, 0.82)), url("/assets/img/CAHIER.png");
        background-position: var(--bX) var(--bY);
        background-size: 40rem auto;
    }

    &.webDevelopment {
        background: linear-gradient(hsla(0, 0%, 0%, 0.72), hsla(0, 0%, 0%, 0.82)), url("/assets/img/macbook3.png");
        background-repeat: no-repeat;
        background-position: var(--bX) var(--bY);
        background-size: 35rem auto;
    }

    // &:hover {
    //     filter:drop-shadow(20px 20px 20px #000);
    // }
  }
  
  .container::before,
  .container::after {
    content: "";
  
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    position: absolute;
    z-index: -2;
  
    opacity: .3;
    transition: .3s;
  }
  
  .container::before {
    top: 2rem;
    right: 2rem;
  
    border-bottom-width: 0;
    border-left-width: 0;
  }
  
  .container::after {
    bottom: 2rem;
    left: 2rem;
  
    border-top-width: 0;
    border-right-width: 0;
  }
  
  .container--active {
    transition: none;
  }
  
  
  .wrap:hover .container::before,
  .wrap:hover .container::after {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
  }

  .wrapper {
    width:inherit;

    & .serviceArticle__paragraph {
        width:inherit;
    }
}

.h4Wrapper {
    width:inherit;
    @include desktopstyle() {
        width:inherit;
    }
}

#contactSection {
    text-align: center;

    & .h2Container {
        margin-bottom:0vh;
        margin-top:25vh;
        height:15vh;
        text-align: center;

        & + p {
            width:88%;
            margin:0 auto;
            line-height:2.5;
            @include tabletstyle() {
                width:70%;
                line-height:2;
            }
        }


    }

    & .contactUs {
        margin-top:0;
        @include desktopstyle() {
            margin-top:30px;
        }
    }
}

#contacth4 {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: $background-color;    
    z-index:-5;
    font-family: $primary-typo;
    // text-shadow: 5px 2px 3px rgba(0,0,0,0.3);
    font-size : 2rem;
    text-shadow: none;
    @include desktopstyle() {
        font-size:4em;
        // text-shadow: 10px 5px 4px rgba(0,0,0,0.3);
        text-shadow: none;
    }
}

