// VARIABLES //
// Couleurs
$background-color: #FDF9F9;
$text-color:#464646;
$underline-color:#FFB3B3;

// Typographies
$primary-typo:'Sitka Heading', Arial;
$secondary-typo:'Raleway';
$tertiary-typo:"Segoe UI", Arial;


// MIXINS //
@mixin smalltabletstyle {
    @media all and (min-width:443px) {
        @content;
    }
}

@mixin tabletstyle {
    @media all and (min-width:443px) {
        @content;
    }
}

@mixin desktopstyle {
    @media all and (min-width:1024px) {
        @content;
    }
}

// KEYFRAMES //
@keyframes mouseLine {
    0% {
        transform: scale(0);
        opacity:1;
    }
    30% {
        transform: scale(0.2);
        opacity:0.9;
    }
    100% {
        transform: scale(1);
        opacity:0.9;
    }
}

@keyframes mouse {
    0% {
        opacity:0.9;
        transform:translateY(0);
    }
    100% {
        opacity:1;
        transform:translateY(2px);
    }
}

@keyframes typewriter {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes movingBackground {
    0% {
        transform:translateX(-5px);
    }
    100% {
        transform:translateX(5px);
    }
}


// CSS
//Général OK
body {
    margin:0;
    padding:0;
    font-family:$primary-typo;
    height:auto;
    overflow-x: hidden;
    background-color: $background-color;
    counter-reset: section;   
}

p, h1, button, article {
    margin:0;
    padding:0;
}

section {
    // overflow:hidden;
    width:100%;
    margin:auto;
    z-index:-5;   
}

article {
    
    & p {
        width:90%;
        margin:7% auto 0 auto;
        line-height:3;
        font-size:0.9rem;
        @include tabletstyle() {
            width:90%;
            font-size:1rem;
            margin: 40px auto 0 40px;
            line-height:3;
        }
    }

    & h4 {
        width:90%;
        margin:0 auto 0 auto;
        line-height:3;
        @include tabletstyle() {
            width:50%;
            margin: 0 auto;
            line-height:3;
            position:relative;
    }
}


}

video {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}

h1, h2 {
    color:rgba(0,0,0,0.8);
    width:100%;
    text-align:center;
}

h3, h4, button {
    font-family: $tertiary-typo;

}

h1 {
    font-size:1em;
    padding:0 0 40px 40px;
    letter-spacing:0.5px;
    font-weight:500;
    line-height:2.5;
    position:relative;
    font-variant:small-caps;
    @include tabletstyle() {
        padding:0 20px;
        font-weight:400;
        font-size:1.6em;
        line-height: 3;
    }
    @include desktopstyle() {
        font-size: 1.5em;
        font-weight:600;
    }
}

h2 {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: $background-color;    
    z-index:-5;
    text-shadow: 5px 2px 3px rgba(0,0,0,0.3);
    font-size : 3rem;
    @include desktopstyle() {
        font-size:9em;
        text-shadow: 10px 5px 4px rgba(0,0,0,0.3);
    }
}

h3 {
    color:#393939;
    text-shadow: 5px 2px #E2DEDE;
    text-transform: uppercase;
    letter-spacing:2px;
    line-height:1.3;
    font-weight:700;
    font-size:2rem;
    @include desktopstyle() {
        font-size: 2.5rem;
        margin-left:40px;
    }
}

h4 {
    font-size: 1.3rem;
    // margin: 0 20px 0 20px;
    @include desktopstyle() {
        // margin: auto 20px;
       margin:auto;
        text-align:center;
    }
}

.mobileOnly {
    @include tabletstyle() {
        display:none;
    }
}

.desktopOnly {
    display:none;
    @include desktopstyle() {
        display: initial;
    }
}

.knowMoreButton {
    background-color: $text-color;
    padding:10px 15px;
    border:none;
    border-radius: 8px;
    color:white;
    letter-spacing:2px;
    font-weight:600;
    margin-top:4vh;
    margin-bottom:6vh;
    @include desktopstyle() {
        margin-top:30px;
        margin-bottom:35px;
    }
}

.carrouselIcons {
    margin-bottom:50px;
}


// Header OK
header {
    display:flex;
    margin:20px 40px 25vh 40px;
    justify-content:space-between;
    font-weight:900;
    @include desktopstyle() {
        width:66vw;
    }

    & button {
        background-color: transparent;
        border:none;
    }    

    & nav
    {
        @include tabletstyle() {
            width:600px;
            text-align:center;
            position:sticky;
            z-index:10;
        }
    } 
    
        & ul {
            display:none;
            @include tabletstyle() {
                display: flex;
                list-style-type: none;
                justify-content: space-between;
                font-size:0.9em;
                letter-spacing:0.5px;
                text-transform: uppercase;
                z-index:1;
            }
            @include desktopstyle() {
                font-size:1.2em;
            }

        & li, a {
            text-decoration: none;
            color:white;
            position:relative;
            padding:0 5px;
            z-index:1;            
        
            &:hover {
                &::after {
                    opacity:0.7;
                    transform:scale(1);
                }
            }
        
            &::after {
                content:"";
                height:3px;
                width:inherit;
                background-color:$underline-color;
                opacity:0;
                position: absolute;
                right: 0;
                bottom: 50%;  
                left: 0;
                box-shadow: 0px 1px 5px black;
                z-index:-1;
                transform:scale(0);
                transform-origin: left center;
                transition: opacity 350ms, transform 400ms;
            }
        }
    }

    img {
        max-width:50px;
    }

    svg {
        margin-top:10px;
    }
}


// Section hero OK
#animateHero {
    visibility: hidden;
    overflow:hidden;
}

#heroSection {
    color:white;
    display:flex;
    flex-direction:column;
    text-align:left;
    @include tabletstyle() {
        text-align: center;
    }

    &__videoCover {
        z-index:5;
        background-color: black;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }

    &__video{
        width:100%;
        height:100vh;
        object-fit:cover;
    }

    & p strong {     
        font-family:$secondary-typo;
        font-size:2.2em;
        letter-spacing:5px;
        padding:0 20px 0 40px;
        position:relative;
        margin:auto;
        text-shadow: 5px 2px rgba(0,0,0, 0.6);
        @include tabletstyle() {
            font-size:4em;
            padding:0;
            letter-spacing:10px;
            text-shadow: 6px 3px rgba(0,0,0, 0.6);
        }
        @include desktopstyle() {
            text-shadow: 10px 5px rgba(0,0,0, 0.6);
            font-size:8em;
            letter-spacing:30px;
        }

    }

    &__mouseSvg svg {
        animation:mouse 900ms infinite;
        animation-direction:alternate;
        position: absolute;
        top:83vh;
        left:50%;
    }

    &__mouseSvg::after {
        content:"";
        height:55px;
        position:absolute;
        border: white 0.5px solid;
        background-color:white;
        top:93vh;
        left:50%;
        margin-left:12px;
        animation:mouseLine 1200ms infinite;
        transform-origin:top;
    }

    &__mobileLine {
        margin-top:5px;

        &Container {
            display:flex;
            align-items:center;
            padding-top:20px;
            @include tabletstyle() {
                display: block;
                padding:0;
            }
        }
    }
}

.backgroundSvg {
    position:absolute;
    opacity:0.95;
}

#leaves {
    top:160px;
    z-index:4;
    width:500px;
    right:-170px;
}

.leafdim2 {
    left:-250px;
    width:450px;
    top:0px;
}

.leaf2 {
    width:450px;
    top:90px;
    left:-160px;
    z-index:-1;
}

// Choix prestation

.flex {
    display:flex;
    margin-top:0;
}

.column {
    flex-direction: column;
    width:70%;
    text-align:center;
}

.flexServices {
    justify-content: space-between;
    align-items: flex-start;
    width:75vw;
    height:26vh;
    margin: 8vh auto auto auto;
}

.roundService {
    z-index:5;
    
    &:nth-child(2), &:nth-child(4) {
        align-self:center;
    }

    &:nth-child(3) {
        align-self:flex-end;
    }

    & p {
        font-family: $primary-typo;
        font-weight:800;
        margin-top:15px;
        opacity:0;
        font-size:1.2rem;
    }

    &:hover {
        cursor:pointer;
    }
}

.roundService__circle {
    // background-color: $background-color;
    width:8vw;
    height:8vw;
    border-radius:50%;
    border:dashed 2px rgba(0,0,0,0.3);
    background-color: rgba(253,249,249,0.3);
    position:relative;

}

.roundService img {
    max-width:80%;
    margin:auto;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    color:black;
    -webkit-filter: grayscale(100%); /* Pour les navigateurs Chrome, Safari, Opera */
filter: grayscale(100%); /* Firefox */
}

// Prestation
.h2Container {
    height:25vh;
    margin:35vh auto 35vh auto;
    position:sticky;

}

article img {
    max-width:40%;
}

.number {
    font-weight:bold;
    font-size:7rem;
    font-family:$primary-typo;
    margin:auto;
    text-align: center;
    line-height:1;
}

.wrapper {
    height:100%;
    width:100%;
    background:#1d1d1d;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:rows;
  }
  
  .expander {
    width:50px;
    height:40vh;
    border-radius:25px;
    background:black;
    overflow:hidden;
    margin-top:20px;
    margin-left:20px;
  }
  
  .close {
    font-family:sans-serif;
    font-size:18px;
    line-height:40px;
    transform:translate(155px, 5px);
    background:rgba(255,255,255,0.6);
    border-radius:20px;
    height:40px;
    width:40px;
    text-align:center;
    cursor:pointer;
    box-shadow:1px 1px 4px #333;
  }
