@-webkit-keyframes mouseLine {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  30% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.9;
  }
}

@keyframes mouseLine {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  30% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.9;
  }
}

@-webkit-keyframes mouse {
  0% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

@keyframes mouse {
  0% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

@-webkit-keyframes typewriter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typewriter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes movingBackground {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@keyframes movingBackground {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

h2 {
  text-shadow: 5px 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 2.5rem;
}

@media all and (min-width: 769px) {
  h2 {
    font-size: 3rem;
  }
}

@media all and (min-width: 1024px) {
  h2 {
    font-size: 9em;
    text-shadow: 10px 5px 4px rgba(0, 0, 0, 0.3);
  }
}

h3 {
  text-transform: uppercase;
  font-size: 1.7rem;
}

@media all and (min-width: 1024px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.1rem;
  margin: 0 20px 0 20px;
}

@media all and (min-width: 1024px) {
  h4 {
    margin: auto 20px;
    font-size: 1.3rem;
  }
}

section {
  text-align: center;
}

article {
  width: 88%;
  z-index: -2;
  border: transparent solid 1px;
  margin: auto;
  margin-bottom: 300px;
}

@media all and (min-width: 769px) {
  article {
    width: 73%;
    height: 100vh;
  }
}

article p {
  margin: 7% auto 0 auto;
  line-height: 3;
  font-size: 0.8rem;
}

@media all and (min-width: 481px) {
  article p {
    width: 50%;
    font-size: 1rem;
    margin: 40px auto 0 auto;
    line-height: 3;
  }
}

.callToAction {
  margin: 4vh auto 6vh auto;
  padding: 10px 15px;
}

@media all and (min-width: 1024px) {
  .callToAction {
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 0.9rem;
  }
}

.callToAction.knowMoreButton::after {
  padding: 9px 5px;
}

.callToAction.contactUs::after {
  padding: 9px 5px;
}

.blueArticle, .blackArticle {
  -webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.7), 5px 0px 15px rgba(0, 0, 0, 0.7);
          box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.7), 5px 0px 15px rgba(0, 0, 0, 0.7);
  border: white outset 3px;
  padding-bottom: 15px;
  width: 88vw;
}

@media all and (min-width: 1024px) {
  .blueArticle, .blackArticle {
    padding-bottom: unset;
    width: 73vw;
    height: 80vh;
  }
}

.blueArticle h4, .blueArticle p, .blackArticle h4, .blackArticle p {
  color: white;
}

.blueArticle {
  background: url("/assets/img/ESSAI125.png") 50% 50%;
  -webkit-filter: hue-rotate(200deg) saturate(110%) brightness(120%);
          filter: hue-rotate(200deg) saturate(110%) brightness(120%);
  background-size: 130% 130%;
}

.blueArticle h4, .blueArticle p {
  color: white;
}

.blackArticle {
  background: url("/assets/img/bluebackground4.png") 50% 50%;
  -webkit-filter: saturate(80%);
          filter: saturate(80%);
  background-size: 130% 130%;
}

.blackArticle h4, .blackArticle p {
  color: white;
}

.blackArticle--2 {
  background: url("/assets/img/purplebackground5.png") 50% 50%;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
  background-size: 130% 130%;
}

.blackArticle--2 h4, .blackArticle--2 p {
  color: #464646;
}

.h4Container {
  text-align: center;
  margin-top: -5vh;
}

@media all and (min-width: 1024px) {
  .h4Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -15px;
  }
}

.h4Container hr {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  height: 0px;
  background-color: white;
}

.wrapper {
  width: 279vw;
}

.wrapper .serviceArticle__paragraph {
  width: 88vw;
}

@media all and (min-width: 1024px) {
  .wrapper .serviceArticle__paragraph {
    width: 73vw;
  }
}

.wrapper .serviceArticle__paragraph p {
  width: 90%;
}

@media all and (min-width: 1024px) {
  .wrapper .serviceArticle__paragraph p {
    width: 50%;
  }
}

.h4Wrapper {
  width: 88vw;
}

@media all and (min-width: 1024px) {
  .h4Wrapper {
    width: 73vw;
  }
}

.h4Wrapper .serviceArticle__h4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
}

@media all and (min-width: 1024px) {
  #servicesSection {
    position: relative;
    margin-top: 25vh;
  }
}

.h2Container {
  height: 5vh;
  margin: 100vh auto 15vh auto;
}

@media all and (min-width: 769px) {
  .h2Container {
    height: 25vh;
    margin: 75vh auto 15vh auto;
    position: -webkit-sticky;
    position: sticky;
  }
}

#visualIdentity {
  background-image: url("/assets/img/background.png") no-repeat center;
  height: 80vh;
}

#visualIdentityBlock {
  position: relative;
  z-index: -1;
}

#visualIdentity .backgroundSvg {
  display: none;
}

@media all and (min-width: 769px) {
  #visualIdentity .backgroundSvg {
    display: initial;
    top: 60%;
  }
}

@media all and (min-width: 1024px) {
  #visualIdentity .backgroundSvg {
    width: 700px;
    left: -45%;
  }
}

@media all and (min-width: 481px) {
  article:nth-child(4) #seo__h4Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 73vw;
    margin: auto;
    position: relative;
  }
}

article:nth-child(4) #seo__h4Container div {
  margin: 3vh 5px 0 5px;
  position: relative;
}

article:nth-child(4) h4 {
  background: rgba(255, 255, 255, 0.4);
  width: 90px;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  line-height: 1.3;
  font-weight: 700;
  margin: auto;
}

@media all and (min-width: 1024px) {
  article:nth-child(4) h4 {
    width: 120px;
    letter-spacing: 2px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 2rem;
  }
}

article:nth-child(4) p {
  width: 80%;
  margin: 3% auto 0 auto;
}

#about {
  position: relative;
  z-index: -10;
  background: url("./assets/img/essaibluebackground.png") fixed no-repeat, url("./assets/img/essaibluebackground.png") fixed no-repeat;
  background-position: 100% 80%, -10% 40%;
  background-size: 30% 30%, 30% 30%;
}

#about .aboutFlex {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 1024px) {
  #about .aboutFlex {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: unset;
  }
}

#about .aboutFlex img {
  position: absolute;
  max-height: 31%;
  z-index: -6;
  -webkit-filter: opacity(20%);
          filter: opacity(20%);
}

@media all and (min-width: 1024px) {
  #about .aboutFlex img {
    position: initial;
    max-height: 85%;
    opacity: 1;
    -webkit-filter: unset;
            filter: unset;
  }
}

#about .aboutFlex img:nth-child(1) {
  left: -200px;
  max-height: 30%;
}

@media all and (min-width: 1024px) {
  #about .aboutFlex img:nth-child(1) {
    max-height: 85%;
  }
}

#about .aboutFlex img:nth-child(2) {
  right: -210px;
}

#about .aboutFlex p {
  line-height: 3;
}

#about .aboutFlex .texte {
  width: 100%;
}

@media all and (min-width: 1024px) {
  #about .aboutFlex .texte {
    width: 90%;
    padding: 20% auto;
  }
}

#about .aboutFlex .texte--1 {
  margin-left: 15%;
}

#about .aboutFlex .texte--2 {
  margin-right: 15%;
}

#about .aboutFlex .texte::before, #about .aboutFlex .texte::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border: 1.5px solid #464646;
  position: absolute;
  z-index: -2;
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

#about .aboutFlex .texte::before {
  top: 0;
  right: -10%;
  border-bottom-width: 0;
  border-left-width: 0;
}

#about .aboutFlex .texte::after {
  bottom: 0;
  left: -10%;
  border-top-width: 0;
  border-right-width: 0;
}

.aboutTitle {
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-variant: small-caps;
  position: relative;
  margin-bottom: 5%;
  font-family: "Raleway";
}
/*# sourceMappingURL=styles.css.map */